*.o
src/quickxor
tests/benchmarking/keys
tests/benchmarking/files
tests/benchmarking/binaries
tests/benchmarking/result.txt
tests/benchmarking/outputs
tests/benchmarking/graphics
tests/benchmarking/.vscode
